---
import { Head, Header, Footer, ThemeSwitch } from '@lameuler/ler-astro'
import '@lameuler/ler-astro/icon.css'
import Layout from '../layout/Layout.astro'
---

<Layout>
	<Head title="demo site" site="ler.local"/>
	<body>
		<Header>
			<a href="/">ler.local</a>
			<ThemeSwitch>
				<img slot="light" class="hover:drop-shadow-xl transition-all" src="/icons/theme-light.png" width="40" height="40" alt=""/>
    			<img slot="dark" class="hover:drop-shadow-xl transition-all" src="/icons/theme-dark.png" width="40" height="40" alt=""/>
			</ThemeSwitch>
		</Header>
		<main>
			<h1>Astro</h1>
		</main>
		<Footer>
			<div slot="left">
				hi<br>hi
			</div>
			<div slot="left">
                Made with <a href="https://astro.build">Astro</a>, <a href="https://svelte.dev">Svelte</a> and <a href="https://tailwindcss.com">Tailwind</a>.
			</div>
			<div slot="left">
                Last updated Jun 2024
			</div>
			<div slot="right">
                <a href="https://github.com/lameuler/ler-astro">View on GitHub</a>
				-
				<a class="hover:underline" href="https://github.com/lameuler/ler-astro/commit/7ee20b2b4d0ad36eebb1760368835669cc0307dd"><code>7ee20b2</code></a>
            </div>
			<a slot="license" href="/license">MIT License</a>
		</Footer>
	</body>
</Layout>

<style is:global>
	html {
		background-color: rgb(248 250 252);
	}
	html.dark {
		background-color: rgb(15 23 42);
	}
	body {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 96 96' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='%2364748b40' cx='48' cy='48' r='6'/%3E%3C/svg%3E");
		background-size: 1.5rem;
	}
</style>
<style>
	a {
		text-decoration: underline;
	}
	img {
		width: 2.5rem;
		height: 2.5rem;
		transition: scale ease-in-out 150ms;
	}
	img:hover {
		scale: 110%;
	}
	img:hover {
		scale: 105%;
	}
</style>