---
import { Head, Header, Footer, ThemeSwitch } from '@lameuler/ler-astro'
import '@lameuler/ler-astro/icon.css'
import Layout from '../layout/Layout.astro'
---

<Layout>
	<Head title="demo site" site="ler.local"/>
	<body class="">
		<Header>
			<a href="/">ler.local</a>
			<ThemeSwitch/>
		</Header>
		<main>
			<h1>Astro</h1>
		</main>
		<Footer>
			<div slot="left">
				hi<br>hi
			</div>
			<div slot="left">
                Made with <a href="https://astro.build" class="underline">Astro</a>, <a href="https://svelte.dev" class="underline">Svelte</a> and <a href="https://tailwindcss.com" class="underline">Tailwind</a>.
			</div>
			<div slot="left">
                Last updated Jun 2024
			</div>
			<div slot="right">
                <a href="https://github.com/lameuler/ler-astro" class="underline">View on GitHub</a>
				-
				<a class="hover:underline" href="https://github.com/lameuler/ler-astro/commit/7ee20b2b4d0ad36eebb1760368835669cc0307dd"><code>7ee20b2</code></a>
            </div>
			<a slot="license" href="/license">MIT License</a>
		</Footer>
	</body>
</Layout>

<style is:global>
	html {
		--text: 20, 0, 40;
		background-color: rgb(226, 217, 241);
	}
	html.dark {
		--text: 240, 230, 250;
    	background-color: rgb(22, 0, 51);
	}
</style>