---
import Line from './internal/Line.astro'
import Socials from './internal/Socials.astro'
import Year from './Year.astro'

interface Props {
    line?: boolean
}
const { line } = Astro.props
---
<footer>
    { line!==false && <Line/> }
    <div class="row top">
        <a href="https://eu.ler.sg">
            <img src="https://eu.ler.sg/icons/favicon192.png" width="48" height="48" alt="" srcset="https://eu.ler.sg/icons/favicon96.webp 96w, https://eu.ler.sg/icons/favicon128.webp 128w, https://eu.ler.sg/icons/favicon192.webp 192w" loading="lazy"/>
            <span>Lam Eu Ler</span>
        </a>
        <Socials/>
    </div>
    <div class="row">
        <div class="col left">
            <slot name="left"/>
        </div>
        <div class="col right">
            <slot name="right"/>
            <span>
                <slot name="license"/> &copy; <Year/> Lam Eu Ler
            </span>
        </div>
    </div>
</footer>

<style>
    footer {
        box-sizing: content-box;
        padding: 1.5rem;
        text-align: center;
    }
    .row {
        display: flex;
        flex-direction: column;
        max-width: 80rem;
        margin: 0 auto;
        gap: 0.5rem;
    }
    .top {
        margin-bottom: 0.75rem;
        align-items: center;
    }
    a {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: rgba(var(--text), 0.9);
    }
    a:hover {
        text-decoration: underline;
        color: rgb(var(--text));
    }
    a img {
        height: 3rem;
        width: 3rem;
    }
    a span {
        font-weight: 500;
        text-transform: lowercase;
    }
    @media (min-width: 640px) {
        footer {
            text-align: start;
        }
        .row {
            flex-direction: row;
            justify-content: space-between;
        }
        .left {
            align-items: flex-start;
            text-align: start;
        }
        .right {
            align-items: flex-end;
            text-align: end;
        }
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0.2rem;
        color: rgba(var(--text), 0.65);
    }
    :where(.col) :global(a) {
        text-decoration: underline;
    }
    :where(.col) :global(a:hover) {
        color: rgba(var(--text), 0.9);
    }
</style>